<section class="flex flex-col px-5 pt-3 gap-3">
    <!-- <div *ngFor="let task of dataTasks" class="flex flex-row bg-blue-300 rounded-xl p-2 justify-between">
        <label class="truncate">
            {{task.detalle}} 
        </label>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 justify-end">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
          
    </div> -->

    <!-- <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div> -->
    <mat-accordion *ngFor="let task of dataTasks" class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{task.detalle}}
                </mat-panel-title>
                
            </mat-expansion-panel-header>

            <div class="flex flex-row justify-between">
                <div class="w-1/2">
                    <p *ngFor="let persona of task.personas" class="text-red-300">
                        {{persona.nombre}} ({{persona.edad}}) <br>
                        <label *ngFor="let habilidad of persona.habilidades">{{habilidad}}, </label>
                    </p>
                </div>

                <div class="w-1/2">
                    <div class="flex flex-col justify-start text-right">
                        <p class="text-red-500">Fecha limite</p>
                        <label class="text-red-500">{{task.fechaLimite}}</label>
                    </div>
    
                    <!-- <div class="flex flex-col self-end text-right">
                        <label class="text-red-500">{{task.estado}}</label>
                    </div> -->
                </div>
                
                


            </div>

            
        </mat-expansion-panel>
    </mat-accordion>



</section>