<section class="flex flex-col px-5 pt-3 gap-3 py-3">
    <button class="fixed bottom-5 right-5 w-32 bg-blue-300 rounded-xl mt-auto text-center z-20" (click)="openCreaeTask()">
        <label class="relative top-0">
            Nueva tarea
            <mat-icon>add_task</mat-icon>
        </label>
    </button>

    <div class="flex flex-row justify-between">
        <div class="flex flex-row">
            <!-- <button class="bg-green-200 rounded-xl p-1" (click)="accordion.openAll()">Abrir todos</button>
            <button class="bg-slate-300 rounded-xl p-1" (click)="accordion.closeAll()">Cerrar todos</button> -->

            <button class="rounded-xl p-1" 
            [ngClass]="{'bg-green-200':isCollapsedAll==true,'bg-slate-300':isCollapsedAll==false}" 
            (click)="collapseAll()">
                <mat-icon>unfold_more</mat-icon>
            </button>
        </div>

        <div class="flex flex-row gap-2">

            <button class="rounded-xl p-1"
                [ngClass]="{'bg-green-200':pendingActivated==false && completeActivated==false,
                'bg-slate-300':completeActivated==true || pendingActivated==true}"
                (click)="cleanFilter()">
                <mat-icon>filter_list_off</mat-icon>
            </button>

            <button class="rounded-xl p-1"
                [ngClass]="{'bg-green-200':completeActivated==true,'bg-slate-300':completeActivated==false}"
                (click)="completeFilter()">
                <mat-icon>check_circle</mat-icon>
            </button>

            <button class="rounded-xl p-1"
                [ngClass]="{'bg-green-200':pendingActivated==true,'bg-slate-300':pendingActivated==false}"
                (click)="pendingFilter()">
                <mat-icon>pending</mat-icon>
            </button>

        </div>


    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let task of dataTasks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{task.detail}}
                </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="flex flex-row justify-between">
                <div class="w-1/2">
                    <p *ngFor="let persona of task.persons; let i = index; trackBy: trackById" class="text-red-300">
                        {{persona.name}} ({{persona.age}}) <br>
                        <label *ngFor="let habilidad of persona.skills">{{habilidad}}, </label>
                    </p>
                </div>

                <div class="w-1/2">
                    <div class="flex flex-col justify-start text-right">
                        <p class="text-red-500">Fecha limite</p>
                        <label class="text-red-500">{{task.limitDate}}</label>
                    </div>

                    <!-- <div class="flex flex-col self-end text-right">
                        <label class="text-red-500">{{task.estado}}</label>
                    </div> -->
                </div>
            </div>

            <button mat-raised-button color="accent" (click)="openEditTask(task)">Editar</button>
        </mat-expansion-panel>
    </mat-accordion>
</section>